{% extends "model-page.html" %}

{% block content %}
<div class="container" style="background-color: #EAEAEA;">
        <p style="margin-top:20px;">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="evento" class="form" action="submit" method="POST">
                           {% csrf_token %}
                            <h3 class="text-center text-info"><strong>Cadastro de novo Evento</strong></h3>
                            <div class="form-group">
                                <label for="titulo" class="text-info" >Titulo</label><br>
                                <input type="number" name="id_evento" value="{{ evento.id }}" hidden>                      
                                <input type="text" name="titulo" value="{{ evento.titulo }}" class="form-control"  placeholder="Nome do Evento">
                            </div>
                            <div class="form-group">
                                <label for="data_evento" class="text-info">Data Do Evento</label><br>
                                <input type="datetime-local" name="data_evento" class="form-control" value="{{ evento.get_data_input_evento }}">
                            </div>
                            <div class="form-group">
                                <label for="descricao" class="text-info">Descrição do Evento</label><br>
                                <textarea name="descricao" id="descricao" rows="4" cols="54" placeholder="Descrição do Evento">{{ evento.descricao }}</textarea>
                            </div>
                            <div class="form-group">

                                <button type="submit" class="btn btn-primary">Confirma</button>
                                <a href="/" action="reset"><button type="button" class="btn btn-danger">Cancelar</button></a>
                            </div>
                            <div id="register-link" class="text-right">
                            </div>
                            {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible">
                                <a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Erro !</strong> {{ message }}
                            </div>                     
                            {% endfor %}
                        </form>                         
                    </div>
                </div>
            </div>
        </div>

{% endblock  %}