{% load static %}
<!doctype html>
  <html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>Sistema de Agendamentos</title>
   
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">
    <link rel="canonical" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css">
    <link rel="canonical" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js">
    <link rel="stylesheet" href=" {% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="https://kit.fontawesome.com/c9c8b877ed.js" crossorigin="anonymous"></script>
    <!-- model Page Header -->
</head>